<% provide(:title, 'Главная' ) %>

<div class="jumbotron">
	<h1>Сайты, приложения, электронная коммерция</h1>
	<hr>
	<a href="/portfolio" class="btn btn-primary btn-lg">Портфолио</a>
	<a href="/order" class="btn btn-danger  btn-lg">Заказать сайт</a>

</div>



